
<div class="dropdown clearfix">   
    <ul class="dropdown-menu" id="list">
        <li>
            <input id="new-todo" type="text" placeholder="New thing to do"></input>
        </li>
    </ul>
</div>
<div>
    <ul class="breadcrumb">
        <li><a id="show-completed" >completed</a><span class="divider"></span></li>
        <li><a id="show-remaining" >remaining</a><span class="divider"></span></li>
        <li><a id="show-all" >all</a></li>
        <span><strong><%= total %></strong> items</span>
    </ul>
    
</div>